/*GENERAL BACKGROUND + FONT FAMILY*/
html {
  background: url(https://lh6.googleusercontent.com/-glvQnCET6t4/TXJtzvuRfbI/AAAAAAAAA0E/lE8_WpSUQ00/s1600/Bankei.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F5E5C9;
  backdrop-filter: blur(1px);
  font-family: 'Space Mono', monospace;
;}





/* TASK BAR CSS */
div.nav {
display: flex;
position: fixed;
top: 0px;
left: 0px;
right: 0px;
width: 100%;
background: rgba(0, 0, 0, .93); /* Seamus! This line of code dictates the color and opacity of the task bar. The final number in the line of code, currently .93, is the opacity. Move this around as you see fit. I think it's a little too heavy when fully opaque.*/
;}

a.links:link {
justify-content: flex-left;
color: #fafafa;
text-decoration: none;
padding: 20px;
border-right: 2px solid #6c6c6c;
transition: 0.5s;
}

a.links:hover {
color: #000000;
background-color: #333;
transition: 0.5s;
}

a.links:visited {
color: gray;
}

a.links:active {
color: #000000;
transition: 0.5s;
}

a.phone1 {
margin-left: auto;
color: #fafafa;
padding: 20px;
border-left: 2px solid #6c6c6c;
text-decoration: none;
transition: 0.8s;
}

a.phone1:hover {
color: #4d4d4d;
transition: 0.8s;
}








/*PURE FORM HEADER BOX*/
.pure {
 top: 20%;
  bottom: 20%;
  padding: 15px;
  width:80%;
  max-width:800px;
  margin:250px auto;
  text-align: center;
border-radius: 5px;
  background-color: rgba(255,255,255, 0.70);
  box-shadow: 0px 0px 50px 0px;
}
h1 {
text-align: center;
font-size: 11vh; 
font-weight: normal; /* Try this on any font that you think is a little too thick */
;}
.homeandgarden {
text-align: center;
font-size: 20px; /*Don't touch this*/
}
p1 {
font-style: italic;
font-size: 3.5vh;
}
p2{
font-size: 2.6vh;
}







/*MISCELLANEOUS FONT CSS*/

h2{
text-align: center;
font-size: 30px;
;}
h3{
text-align: center;
font-size: 38px;
font-weight: normal;
color: #000000;
;}
p {
text-align: center;
}






/* CONTACT REQUEST FORM CAN'T BE USED ON GITHUB, NEED TO CHANGE FROM PHP TO JS

input[type=text],
select,
textarea,
input[type=email],
input[type=number],
input[type=tel] {
  width: 100%;
  padding: 12px;
  border: transparent;
  border-radius: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type=submit] {
  background-color: #555555;
  color: white;
  padding: 12px 20px;
  border:  1px solid #414141;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s linear;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.container {
  top: 50%;
  bottom: 50%;
  padding: 20px;
  width: device-width;
  max-width:800px;
  margin: 250px auto;
border-radius: 5px;
  background-color: rgba(255,255,255, 0.70);
  box-shadow: 0px 0px 50px 0px;
;}
.flex-row{
  display:flex;
  justify-content:space-between;
  align-content:center;
  align-items:strech;
  line-height:45px;
}
.flex-row input,
.flex-row textarea,
.flex-row select{
  margin:5px;
}
input[type=submit]{
margin:5px auto;
display:block;
}
.flex-row input:nth-child(3){
  flex-basis:150px;}

*/






/* ABOUT + PHONE BOX */

.about-section {
  top: 20%;
  bottom: 20%;
  padding: 15px;
  width:80%;
  max-width:800px;
  margin:0 auto;
  text-align: center;
border-radius: 5px;
  background-color: rgba(255,255,255, 0.70);
  box-shadow: 0px 0px 50px 0px;
;}
a.phone:link {
font-weight: bold;
font-size: 16px;
text-decoration: none;
padding: 20px;
transition: 0.5s;
}
a.phone:hover {
color: #147BAF;
}
a.phone:visited {
color: #42011C;
}
a.phone:active {
color: #409741;
}

 



/* GALLERY 

.row {
vertical-align: bottom;

}
.column {
margin: 0;
margin-bottom: -50px;
 float: right;
  width: 23.7%;
padding: 8px;

}
img {
    float: center;
    width:  100%;
    height: 200px;
object-fit: cover;
border-radius: 3px;
filter: saturate(1.5);
}
h4 {
   font-style: italic;
   text-align: center; 
   background-color: rgba(255, 255, 255, 0.6);
   border-radius: 25px;
   box-shadow: 5px 5px 5px 0px;
}
*/





/* ADJUSTMENTS FOR MOBILE/LAPTOP/TABLET SCREENS */
/* Smartphones (portrait and landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) 
/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) 
/* iPads (portrait and landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
/* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
/* Desktops and laptops */
@media only screen 
and (min-width : 1224px)
/* Large screens */
@media only screen 
and (min-width : 1824px)
/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) 
/* Background */
@media only screen and (max-width: 767px) {
  body {
    background-image: url(https://lh6.googleusercontent.com/-glvQnCET6t4/TXJtzvuRfbI/AAAAAAAAA0E/lE8_WpSUQ00/s1600/Bankei.jpg);
background-position: center;
background-repeat: repeat-y;
background-size: cover; 
background-color: #F5E5C9;
  }
